{% extends "WEBAPP/base.html" %}

{% block content %}
<div id="newclient" class="form-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">        
        <div class="text-container">
          <div class="section-title">Te ayudamos</div>
          <h2 class="white"><small>1 - 2 - </small>3</h2>
          <p class="white">Estas solo a unos pasos de recibir una cotizacion recomendada.</p>
          <ul class="list-unstyled li-space-lg white">
              <li class="media">                                
                  <div class="media-body"><i class="fas fa-square"></i> Cuentanos que necesitas</div>
              </li>
              <li class="media">
                  <div class="media-body"><i class="fas fa-square"></i> ¡Y recibe una cotización adecuada para ti!</div>
              </li>
              <li class="media">
                  <div class="media-body"><i class="fas fa-square"></i> Para dudas o consultas el Whatsapp acotinuación</div>
              </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <form method='post' id="form-cliente" data-toggle="validator" data-focus="false"">
          {% csrf_token %}

          <div class="form-group">
            {{ form3.first_name }}
            <label class="label-control" for="{{ form3.auto_id }}"> Nombre </label>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            {{ form3.last_name }}
            <label class="label-control" for="{{ form3.auto_id }}"> Apellido </label>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            {{ form3.mail }}
            <label class="label-control" for="{{ form3.auto_id }}"> Email </label>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            {{ form3.phone }}
            <label class="label-control" for="{{ form3.auto_id }}"> Telefono </label>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <select class="form-control-select" id="service" name='pay_method' required>
                <option class="select-option" value="" disabled selected>Metodo de pago en tienda:</option>
                <option class="select-option" value="efectivo">Efectivo</option>
                <option class="select-option" value="credito">Tarjeta de credito</option>
                <option class="select-option" value="debito">Tarjeta de debito</option>
                <option class="select-option" value="transferencia">Transferencia</option>
            </select>
            <div class="help-block with-errors"></div>
          </div>
          

          <div class="form-group">
            <button type="submit" name="newclient" value="newclient" class="form-control-submit-button">SIGUIENTE</button>
          </div>

          <div id="slider-range"></div>

        </form>
      </div>    
        
               
      </div>
    
  </div>
</div>
{% endblock %}
