{% extends "WEBAPP/base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="newclient4" class="form-1">
  <div class="container">
  <div class="multisteps-form">
    <!--progress bar-->
    <div class="row">
      <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
        <div class="multisteps-form__progress">
          <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Presupuesto</button>
          <button class="multisteps-form__progress-btn" type="button" title="Address">Necesidades</button>
          <button class="multisteps-form__progress-btn" type="button" title="Order Info">Contacto</button>
          <button class="multisteps-form__progress-btn" type="button" title="Comments">Comments</button>
        </div>
      </div>
    </div>
    <!--form panels-->
    <div class="row">
      <div class="col-12 col-lg-8 m-auto">
        <form class="multisteps-form__form" data-toggle="validator" data-focus="false">
          
          <!--single form panel-->
          <div class="multisteps-form__panel shadow p-4 rounded" data-animation="scaleIn">
            <h3 class="multisteps-form__title">Your Address</h3>
            <div class="multisteps-form__content">
              <div class="form-row mt-4">
                <div class="col">
                  <input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/>
                </div>
              </div>
              <div class="form-row mt-4">
                <div class="col">
                  <input class="multisteps-form__input form-control" type="text" placeholder="Address 2"/>
                </div>
              </div>
              <div class="form-row mt-4">
                <div class="col-12 col-sm-6">
                  <input class="multisteps-form__input form-control" type="text" placeholder="City"/>
                </div>
                <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                  <select class="multisteps-form__select form-control">
                    <option selected="selected">State...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                  <input class="multisteps-form__input form-control" type="text" placeholder="Zip"/>
                </div>
              </div>
              <div class="button-row d-flex mt-4">
                <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
              </div>
            </div>
          </div>
          <!--single form panel-->
          <div class="multisteps-form__panel shadow p-4 rounded" data-animation="scaleIn">
            <h3 class="multisteps-form__title">Your Order Info</h3>
            <div class="multisteps-form__content">
              <div class="row">
                <div class="col-12 col-md-6 mt-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">Item Title</h5>
                      <p class="card-text">Small and nice item description</p><a class="btn btn-primary" href="#" title="Item Link">Item Link</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 mt-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">Item Title</h5>
                      <p class="card-text">Small and nice item description</p><a class="btn btn-primary" href="#" title="Item Link">Item Link</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="button-row d-flex mt-4 col-12">
                  <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                  <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                </div>
              </div>
            </div>
          </div>

          <!--single form panel-->
          <div class="multisteps-form__panel shadow p-4 rounded js-active" data-animation="scaleIn">
            <h3 class="multisteps-form__title">Contacto</h3>
            <div class="multisteps-form__content">
              <div class="form-row mt-4">
                <div class="col-12 col-sm-6">
                  <input id="first_name" class="form-control-input" type="text"/>
                  <label class="label-control" for="first_name"> Nombres </label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                  <input id="last_name" class="form-control-input" type="text"/>
                  <label class="label-control" for="last_name"> Apellidos </label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="form-row mt-4">
                <div class="col-12 col-sm-6">
                  <input id="mail" class="form-control-input" type="text"/>
                  <label class="label-control" for="mail"> Email </label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                  <input id="phone" class="form-control-input" type="text"/>
                  <label class="label-control" for="phone"> Telefono </label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="form-row mt-4">
                <div class="col-12 col-sm-6">
                  <select class="form-control-select" id="service" name='pay_method' required>
                    <option class="select-option" value="" disabled selected>Metodo de pago en tienda:</option>
                    <option class="select-option" value="efectivo">Efectivo</option>
                    <option class="select-option" value="credito">Tarjeta de credito</option>
                    <option class="select-option" value="debito">Tarjeta de debito</option>
                    <option class="select-option" value="transferencia">Transferencia</option>
                </select>
                <div class="help-block with-errors"></div>
                </div>
                
              </div>
              <div class="button-row d-flex mt-4">
                <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
              </div>
            </div>
          </div>

          <!--single form panel-->
          <div class="multisteps-form__panel shadow p-4 rounded" data-animation="scaleIn">
            <h3 class="multisteps-form__title">Additional Comments</h3>
            <div class="multisteps-form__content">
              <div class="form-row mt-4">
                <textarea class="multisteps-form__textarea form-control" placeholder="Additional Comments and Requirements"></textarea>
              </div>
              <div class="button-row d-flex mt-4">
                <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                <button class="btn btn-success ml-auto" type="button" title="Send">Send</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!--

<div id="newclient" class="form-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">        
        <div class="text-container">
          <div class="section-title">Te ayudamos</div>
          <h2 class="white">1 - 2 - 3</h2>
          <p class="white">Estas solo a unos pasos de recibir una cotizacion recomendada. Llena el formulario y te contactaremos para.</p>
          <ul class="list-unstyled li-space-lg white">
              <li class="media">                                
                  <div class="media-body"><i class="fas fa-square"></i> Llnea el formulario y te contactaremos.</div>
              </li>
              <li class="media">
                  <div class="media-body"><i class="fas fa-square"></i> Pagas por el servicio</div>
              </li>
              <li class="media">
                  <div class="media-body"><i class="fas fa-square"></i> Recibe tu cotizacion adecuada para ti</div>
              </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <form method='post' id="form-cliente" data-toggle="validator" data-focus="false"">
          {% csrf_token %}

          <div class="form-group">
            <div class="text-container">
              <h3 class="white">Presupuesto</h3>
            </div>
          </div>

          <!--Slider 
          <div class="form-group">            
            <div class="slidecontainer">
              <input type="text" name="presu" id="amount" style="border:0; color:#fff; background-color: #153e52; font-weight:bold;"disabled">                     
            </div>
          </div>

          <div class="form-group">
            <div id="slider-range"></div>
          </div>

          <div class="form-group">
            <select class="form-control-select" id="service" name='service' required>
                <option class="select-option" value="" disabled selected>Quiero que me ayuden con:</option>
                <option class="select-option" value="notebooks">Notebooks</option>
                <option class="select-option" value="pc">Computadores Escritorio</option>
                <option class="select-option" value="parts">Piezas/Componentes</option>
            </select>
            <div class="help-block with-errors"></div>
          </div>

          
          
          <br>
           
          <div class="form-group">
            <button type="submit" name="newclient" value="newclient" class="form-control-submit-button">SIGUIENTE</button>
          </div>
          <!--         

        </form>
      </div>    
        
               
    </div>
    
  </div>
  
</div>

-->

{% endblock %}

{% block scripts %}
<!--
<script>
  var number_format = function(total) {
    return total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
  };
  
  $( "#slider-range" ).slider({
  range: true,
  min: 0,
  max: 1000000,
  values: [ 100000, 400000 ],
  step: 5000,
  slide: function( event, ui ) {
      $( "#amount" ).val( "$" + number_format(ui.values[ 0 ])+ " - $" + number_format(ui.values[ 1 ]) );
          $('.ui-slider-handle:first').html('<div class="tooltip top slider-tip"><div class="tooltip-arrow"></div><div class="tooltip-inner">' + ui.values[0] + '</div></div>');
          $('.ui-slider-handle:last').html('<div class="tooltip top slider-tip"><div class="tooltip-arrow"></div><div class="tooltip-inner">' + ui.values[1] + '</div></div>');
  }
  });    
      -
  $( "#amount" ).val( "$ " + number_format($( "#slider-range" ).slider( "values", 0 )) +
    " - $ " + number_format($( "#slider-range" ).slider( "values", 1 )));

   

</script>
-->

<script>
  //DOM elements
const DOMstrings = {
  stepsBtnClass: 'multisteps-form__progress-btn',
  stepsBtns: document.querySelectorAll(`.multisteps-form__progress-btn`),
  stepsBar: document.querySelector('.multisteps-form__progress'),
  stepsForm: document.querySelector('.multisteps-form__form'),
  stepsFormTextareas: document.querySelectorAll('.multisteps-form__textarea'),
  stepFormPanelClass: 'multisteps-form__panel',
  stepFormPanels: document.querySelectorAll('.multisteps-form__panel'),
  stepPrevBtnClass: 'js-btn-prev',
  stepNextBtnClass: 'js-btn-next' };


//remove class from a set of items
const removeClasses = (elemSet, className) => {

  elemSet.forEach(elem => {

    elem.classList.remove(className);

  });

};

//return exect parent node of the element
const findParent = (elem, parentClass) => {

  let currentNode = elem;

  while (!currentNode.classList.contains(parentClass)) {
    currentNode = currentNode.parentNode;
  }

  return currentNode;

};

//get active button step number
const getActiveStep = elem => {
  return Array.from(DOMstrings.stepsBtns).indexOf(elem);
};

//set all steps before clicked (and clicked too) to active
const setActiveStep = activeStepNum => {

  //remove active state from all the state
  removeClasses(DOMstrings.stepsBtns, 'js-active');

  //set picked items to active
  DOMstrings.stepsBtns.forEach((elem, index) => {

    if (index <= activeStepNum) {
      elem.classList.add('js-active');
    }

  });
};

//get active panel
const getActivePanel = () => {

  let activePanel;

  DOMstrings.stepFormPanels.forEach(elem => {

    if (elem.classList.contains('js-active')) {

      activePanel = elem;

    }

  });

  return activePanel;

};

//open active panel (and close unactive panels)
const setActivePanel = activePanelNum => {

  //remove active class from all the panels
  removeClasses(DOMstrings.stepFormPanels, 'js-active');

  //show active panel
  DOMstrings.stepFormPanels.forEach((elem, index) => {
    if (index === activePanelNum) {

      elem.classList.add('js-active');

      setFormHeight(elem);

    }
  });

};

//set form height equal to current panel height
const formHeight = activePanel => {

  const activePanelHeight = activePanel.offsetHeight;

  DOMstrings.stepsForm.style.height = `${activePanelHeight}px`;

};

const setFormHeight = () => {
  const activePanel = getActivePanel();

  formHeight(activePanel);
};

//STEPS BAR CLICK FUNCTION
DOMstrings.stepsBar.addEventListener('click', e => {

  //check if click target is a step button
  const eventTarget = e.target;

  if (!eventTarget.classList.contains(`${DOMstrings.stepsBtnClass}`)) {
    return;
  }

  //get active button step number
  const activeStep = getActiveStep(eventTarget);

  //set all steps before clicked (and clicked too) to active
  setActiveStep(activeStep);

  //open active panel
  setActivePanel(activeStep);
});

//PREV/NEXT BTNS CLICK
DOMstrings.stepsForm.addEventListener('click', e => {

  const eventTarget = e.target;

  //check if we clicked on `PREV` or NEXT` buttons
  if (!(eventTarget.classList.contains(`${DOMstrings.stepPrevBtnClass}`) || eventTarget.classList.contains(`${DOMstrings.stepNextBtnClass}`)))
  {
    return;
  }

  //find active panel
  const activePanel = findParent(eventTarget, `${DOMstrings.stepFormPanelClass}`);

  let activePanelNum = Array.from(DOMstrings.stepFormPanels).indexOf(activePanel);

  //set active step and active panel onclick
  if (eventTarget.classList.contains(`${DOMstrings.stepPrevBtnClass}`)) {
    activePanelNum--;

  } else {

    activePanelNum++;

  }

  setActiveStep(activePanelNum);
  setActivePanel(activePanelNum);

});

//SETTING PROPER FORM HEIGHT ONLOAD
window.addEventListener('load', setFormHeight, false);

//SETTING PROPER FORM HEIGHT ONRESIZE
window.addEventListener('resize', setFormHeight, false);
</script>
{% endblock %}
