{% extends "WEBAPP/base.html" %}
{% load static %}

{% block content %}
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>TE AYUDAMOS CON<br><span id="js-rotating">NOTEBOOKS, COMPUTADORES, PIEZAS</span></h1>
                            <br>
                            <p class="p-heading p-large"> ¿Quieres comprar un computador/notebook pero no sabes nada de aspectos técnicos? 
                                ¡Has llegado al lugar correcto!<br>
                                Escoge tu presupuesto y cuéntanos tu necesidad. <br>Confía en nosotros y disfruta del mejor equipo al que puedas acceder sin necesidad de conocer los aspectos técnicos de la computación.
                                </p>
                            <br>
                            <a class="btn-solid-lg page-scroll" href="#callMe">CONTACTANOS AQUI</a>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Intro -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">¿Qué hacemos? </div>
                        <h2>Queremos que logres sacar el mejor provecho a la inversión que realizarás al comprar u optimizar tu computador</h2>
                        <p> Sabemos que a veces, puede ser abrumador la cantidad de información necesaria para escoger un computador entre tanta variedad. ¡Deja la decisión en nuestras manos y disfruta del 
                            mejor computador que tu presupuesto pueda costear!</p>
                        </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/intro-office.jpg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->
    <!-- Description -->   
    
    <div class="cards-1">
        <div class="section-title" id='how'>¿Cómo lo hacemos?</div>
        <br><br>
        <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-13">
                        
                        <!-- Card -->
                        <div class="card">
                        <!-- <div class="icon-center"> -->
                            <span class="fa-stack">
                                <span class="hexagon"></span>
                                <i class="fas fa-list-alt fa-stack-1x"></i>
                            </span>
                            
                                <h4 class="card-title">Nos envías tu presupuesto</h4>
                                <div class="p">Junto con tu presupuesto, indícanos el uso que le darás a tu computador.</div>
                            
                        </div>
                        <!-- </div> -->
                        <!-- end of card -->
                    </div>    
                    <div class="col-lg-13">
                        <!-- Card -->
                        <div class="card">
                        <!-- <div class="icon-center"> -->
                            <span class="fa-stack">
                                <span class="hexagon"></span>
                                <i class="fas fa-binoculars fa-stack-1x"></i>
                            </span>
                            <div class="card-body">
                                <h4 class="card-title">Analizamos el mercado</h4>
                                <div class="pe">Acorde a tu presupuesto y necesidades, realizaremos un análisis de mercado en las tiendas de todo Chile, eligiendo la opción más económica a recurrir.</div>
                            </div>
                        <!-- </div> -->
                        </div>
                        <!-- end of card -->
                    </div>    
                    <div class="col-lg-13">
                        <!-- Card -->
                        <!-- <div class="icon-center"> -->
                        <div class="card">
                            <span class="fa-stack">
                                <span class="hexagon"></span>
                                <i class="fas fa-chart-pie fa-stack-1x"></i>
                            </span>
                            <div class="card-body">
                                <h4 class="card-title">Elegimos lo mejor para ti</h4>
                                <div class="pe">Te enviaremos un archivo con el detalle de las mejores 3 opciones a las que podrás acceder, en el que se explicarán los pro y contra de cada una de ellas.</div>
                            </div>                    
                        <!-- </div> -->
                        </div>
                    </div>                       
                        
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">                            
                                <img src="{% static 'images/encasa.png' %}" width="85%" height="85%"></img>
                            <div class="container">
                                        <div class="text-container">                                            
                                            <div class="pe">Por favor ayuda al resto quedándote EN CASA disfrutando de tu nuevo computador. Y ayúdanos a nosotros compartiendo este servicio con tus amigos y familia.</div>
                                            <br>
                                            <h3 class="white">¡De esta salimos todos juntos!</h3>
                                        </div>
                                     <!-- end of col -->
                                
                            </div> <!-- end of container -->                    
                        <!-- end of header-dontent -->
                        
                            <br>
                                                    </div>
                    </div>

                </div> <!-- end of row -->
            </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of  -->
    
    <!-- end of description -->


    <!-- Services -->
    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">SERVICIOS</div>
                    <h2>Elige el servicio<br> que necesites</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/services-1.jpg' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Notebooks</h3>
                            <p>Diferencias de precios por el mismo producto en distintas tiendas a lo largo del país</p>
                            <br>
                            <p class="price">Hasta <span>$100.000</span> de diferencia por el mismo producto</p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">Contáctanos</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/services-2.jpg' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Computadores</h3>
                            <p>Recomendaciones y ahorro pieza por pieza para que armes el computador a tu medida y gusto</p>
                            <br>
                            <p class="price">Ahorra por cada componente</p>
                            <br>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">Contáctanos</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/services-3.jpg' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Piezas</h3>
                            <p>Actualización de piezas compatibles con tu setup actual para sacarle el máximo rendimiento al corto y largo plazo</p>
                            <p class="price">Elige lo adecuado y al mejor precio</p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">Contáctanos</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of services -->
    
    
    <div id=callMe>
        <div id="newclient" class="form-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">        
                        <div class="text-container">
                            <div class="section-title">Te ayudamos</div>
                            <h2 class="white">1<small> - 2 - 3</small></h2>
                            <p class="white">Estas solo a unos pasos de recibir una cotizacion recomendada.</p>
                            <ul class="list-unstyled li-space-lg white">
                                <li class="media">                                
                                    <div class="media-body"><i class="fas fa-square"></i> ¡Empecemos!, necesitamos saber tu presupuesto</div>
                                </li>
                                <li class="media">
                                    <div class="media-body"><i class="fas fa-square"></i> Costo del servicio <span>$8.000</span></div>
                                </li>
                                <li class="media">
                                    <div class="media-body"><i class="fas fa-square"></i> Para dudas o consultas el Whatsapp a cotinuación</div>
                                </li>
                            </ul>
                            <a href="https://wa.me/56987345622" class="white"><img src="{% static 'images/wasap.png' %}" width="10%" height="10%"></img>+56 9 87345622</a>
                        </div>
                    </div>
                        
                    <div class="col-lg-6">
                        
                        <form method='post' id="form-cliente" data-toggle="validator" data-focus="false"">
                            {% csrf_token %}
                
                            <div class="form-group">
                                <div class="text-container">
                                    <div class="section-title">Presupuesto</div>
                                </div>
                                 <br>
                                 <br>                           
                                <!--Slider -->
                                <div class="form-group">
                                    <div id ="range"></div>
                                    <input id="amount" type="hidden" name="presu"></input>
                                </div>

                                
                    
                                <div class="form-group">
                                    <select class="form-control-select" id="service" name='service' required>
                                        <option class="select-option" value="" disabled selected>Quiero que me ayuden con:</option>
                                        <option class="select-option" value="notebooks">Notebooks</option>
                                        <option class="select-option" value="pc">Computadores Escritorio</option>
                                        <option class="select-option" value="parts">Piezas/Componentes</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>                 
                            
                            
                            <br>
                        
                            <div class="form-group">
                                <button type="submit" name="newclient" value="newclient" class="form-control-submit-button">SIGUIENTE</button>
                            </div>
                                        
                
                        </form>
                    </div>                    
                                       
                </div>
            </div>
                       
        </div>
    </div>

    
    
    <!-- end of call me -->


    <!-- Testimonials -->
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Testimonios</h2>
                    <!-- <p class="p-heading">Our clients are our partners and we can not imagine a better future for our company without helping them reach their objectives</p> -->
                    <pclass="p-heading"> &nbsp; </pclass> </p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        
                                        <div class="card-body">
                                            <div class="testimonial-text">Me ayudaron con mi presupuesto limitado y pude comprar el mejor computador posible para trabjar en cuarentena.</div>
                                            <div class="testimonial-author">Rodrigo Zamora</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        
                                        <div class="card-body">
                                            <div class="testimonial-text">Lo recomiendo ya que con la sesoría que me dieron, encontré una oferta y me ahorré buenas lucas.</div>
                                            <div class="testimonial-author">Ignacio Urra</div>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        
                                        <div class="card-body">
                                            <div class="testimonial-text">Pagué por su asesoria y con lo que ahorre fue mas que una buena inversion!!</div>
                                            <div class="testimonial-author">Walter Pacheco</div>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        
                                        <div class="card-body">
                                            <div class="testimonial-text">Me atendieron super bien ya que soy muy quisquilloso en este tema y puedo decir que compré las partes adecuadas para el computador que siempre soñé.</div>
                                            <div class="testimonial-author">Andreas Rodríguez</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                                               
                            </div> <!-- end of swiper-wrapper -->
        
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->
        
                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of sliedr-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider -->
    <!-- end of testimonials -->

 
        <!-- About -->
    <div id="about" class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/about.jpg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7 col-xl-6">
                    <div class="text-container">
                        <div class="section-title">Sobre Nosotros</div>
                        <h2>Queremos que inviertas bien tu dinero</h2>
                        <p>Nuestra misión es entregar conocimiento a las personas que desconozcan aspectos técnicos de computadores, a elegir la mejor opción en calidad y rendimiento, acorde a su presupuesto. </p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Somos independientes, por lo que todo lo que recomendemos será una decisión objetiva</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Buscaremos un presupuesto como si el dinero fuera nuestro</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Te respaldaremos en el proceso venta y post venta</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">¡Recomiéndanos! Ayúdanos a ayudar más personas.</div>
                            </li>
                        </ul>

                        <!-- Counter -->
                        
                        <!-- Usuarios felices aca-->

                        <!-- end of counter -->

                    </div> <!-- end of text-container -->      
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of about -->
{% endblock %}

{% block scripts %}
<script>
  var number_format = function(total) {
    return total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
  };
  
</script>
<script src="{% static 'js/nouislider.js' %}"></script>
<script src="{% static 'js/wNumb.js' %}"></script>
    <script>
        function mergeTooltips(slider, threshold, separator) {

            var textIsRtl = getComputedStyle(slider).direction === 'rtl';
            var isRtl = slider.noUiSlider.options.direction === 'rtl';
            var isVertical = slider.noUiSlider.options.orientation === 'vertical';
            var tooltips = slider.noUiSlider.getTooltips();
            var origins = slider.noUiSlider.getOrigins();

            // Move tooltips into the origin element. The default stylesheet handles this.
            tooltips.forEach(function (tooltip, index) {
                if (tooltip) {
                    origins[index].appendChild(tooltip);
                }
            });

            slider.noUiSlider.on('update', function (values, handle, unencoded, tap, positions) {

                var pools = [[]];
                var poolPositions = [[]];
                var poolValues = [[]];
                var atPool = 0;

                // Assign the first tooltip to the first pool, if the tooltip is configured
                if (tooltips[0]) {
                    pools[0][0] = 0;
                    poolPositions[0][0] = positions[0];
                    poolValues[0][0] = values[0];
                }

                for (var i = 1; i < positions.length; i++) {
                    if (!tooltips[i] || (positions[i] - positions[i - 1]) > threshold) {
                        atPool++;
                        pools[atPool] = [];
                        poolValues[atPool] = [];
                        poolPositions[atPool] = [];
                    }

                    if (tooltips[i]) {
                        pools[atPool].push(i);
                        poolValues[atPool].push(values[i]);
                        poolPositions[atPool].push(positions[i]);
                    }
                }

                pools.forEach(function (pool, poolIndex) {
                    var handlesInPool = pool.length;

                    for (var j = 0; j < handlesInPool; j++) {
                        var handleNumber = pool[j];

                        if (j === handlesInPool - 1) {
                            var offset = 0;

                            poolPositions[poolIndex].forEach(function (value) {
                                offset += 1000 - 10 * value;
                            });

                            var direction = isVertical ? 'bottom' : 'right';
                            var last = isRtl ? 0 : handlesInPool - 1;
                            var lastOffset = 1000 - 10 * poolPositions[poolIndex][last];
                            offset = (textIsRtl && !isVertical ? 100 : 0) + (offset / handlesInPool) - lastOffset;

                            // Center this tooltip over the affected handles
                            tooltips[handleNumber].innerHTML = poolValues[poolIndex].join(separator);
                            tooltips[handleNumber].style.display = 'block';
                            tooltips[handleNumber].style[direction] = offset + '%';
                        } else {
                            // Hide this tooltip
                            tooltips[handleNumber].style.display = 'none';
                        }
                    }
                });
            });
        }
    </script>
    <script>
    var range = document.getElementById('range');

    noUiSlider.create(range, {
        start: [100000, 400000],
        step: 10000,
        behaviour: 'drag',
        connect: true,
        tooltips: [true, true],
        range: {
            'min': 0,
            'max': 1000000
        },
        format: wNumb({
        decimals: 0,
        thousand: '.',
        prefix: '$ '
        }),
    });

    range.noUiSlider.on('update', function (values) {
        var handleValue = range.noUiSlider.get();
        amount.value = handleValue[0] +' - ' + handleValue[1]
    }); 


    mergeTooltips(range, 10, ' - ');

    </script>
{% endblock %}